[Unit]
Description=SSHD checkup
After=network-online.target
Requires=fail2ban.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/sshd-report
ExecStart=/usr/local/bin/sshd_report_sendmail "${MAIL_FROM}" "${MAIL_TO}"
# if sending to localhost set user and group to have correct mailbox access
#User=
#Group=

# hardening, comment out if encountering errors
DynamicUser=true
Group=mail
ReadOnlyPath=/
ProtectHome=true

[Install]
WantedBy=multi-user.target
